In [1]:
#sets are designed for unique values

job_skills = {'python', 'java', 'c++', 'sql', 'javascript'}

In [3]:
job_skills #calling the set will show the values in no particular order

{'c++', 'java', 'javascript', 'python', 'sql'}

In [6]:
job_skills.add('sql') #add a new value to the set

In [8]:
job_skills #we can see that the set does not allow duplicates

{'c++', 'html', 'java', 'javascript', 'python', 'sql'}

In [12]:
job_skills.pop() #it will give an arbitrary value from the set

'java'

In [14]:
job_skills #we can see we no longer have the value that was popped

{'html', 'javascript', 'python', 'sql'}

In [16]:
job_skills.remove('sql') #removes the value from the set

In [17]:
job_skills

{'html', 'javascript', 'python'}

In [18]:
skill_list = ['python', 'java', 'c++', 'sql', 'javascript', 'python', 'java', 'c++', 'sql', 'javascript']

In [21]:
list(set(skill_list)) #we can convert a list to a set to remove duplicates and also convert it back to a list

['python', 'javascript', 'sql', 'c++', 'java']