In [1]:
#tuples are immutable and for fixed data
#if we have a unique set of items we will use a tuple
lukes_skills = ('python', 'java', 'c++', 'html', 'css')

In [ ]:
lukes_skills[0:2] #slicing a tuple

('python', 'java')

In [4]:
lukes_skills.append('javascript') #will throw an error because tuples are immutable

AttributeError: 'tuple' object has no attribute 'append'

In [12]:
lukes_skills = ('python', 'java', 'c++', 'html', 'css', 'javascript')

print(id(lukes_skills)) #will print the memory address of the tuple
new_skills = ('excel', 'power bi', 'sql')

lukes_skills += new_skills #concatenating tuples

2260916354016

In [10]:
#tuples have add method but by using add method we are creating a new object

lukes_skills

('python',
 'java',
 'c++',
 'html',
 'css',
 'javascript',
 'excel',
 'power bi',
 'sql')

In [11]:
id(lukes_skills) #id of the tuple will change after concatenation

2260918111680

In [14]:
#doing the same with list

lukes_skills = ['python', 'java', 'c++', 'html', 'css', 'javascript']

print(id(lukes_skills)) #will print the memory address of the tuple
new_skills = ['excel', 'power bi', 'sql']

lukes_skills += new_skills #concatenating tuples

id(lukes_skills)

2260920852544

2260920852544

In [15]:
range(0, 10) #will create a range object from 0 to 10

range(0, 10)

In [17]:
tuple(range(0, 10)) #will create a tuple from the range object with unique values

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [18]:
tuple(range(3, 10))

(3, 4, 5, 6, 7, 8, 9)

In [20]:
tuple(range(3, 10, 2)) #will create a tuple from the range object with unique values and step of 2

(3, 5, 7, 9)