In [30]:
my_skills = ['Python', 'SQL', 'Excel']

In [31]:
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]

In [20]:
import pandas as pd

x = pd.DataFrame(job_roles)
x

,role,skills
0,Data Analyst,"[Python, SQL, Excel]"
1,Data Scientist,"[Python, R, Machine Learning, Deep Learning]"
2,Machine Learning Engineer,"[Python, TensorFlow, PyTorch, Scikit-Learn]"
3,Data Engineer,"[Python, Apache Spark, Hadoop, SQL]"
4,Business Intelligence Analyst,"[Python, SQL, Tableau, Power BI, Excel]"
5,Quantitative Analyst,"[R, Python, MATLAB, Statistics]"
6,Operations Analyst,"[Python, SQL, Data Visualization, Process Impr..."
7,Database Administrator,"[SQL, Oracle, MySQL, Database Management]"
8,AI Engineer,"[Python, TensorFlow, PyTorch, Computer Vision]"
9,Statistician,"[R, SAS, Python, Statistical Modeling]"

Code

1. Loop through the job_roles
2. Verify if all my skills are inside each job_roles[skills]
3. if True (or qualified), add to qualified list of jobs

In [37]:
qualified_roles = []

for job in job_roles:
    qualified = True #checking if the job is qualified or not


    for skill in my_skills:
     if skill not in job['skills']:
            qualified = False
     if qualified:
        qualified_roles.append(job['role'])


qualified_roles

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Scientist',
 'Machine Learning Engineer',
 'Data Engineer',
 'Data Engineer',
 'Business Intelligence Analyst',
 'Business Intelligence Analyst',
 'Business Intelligence Analyst',
 'Quantitative Analyst',
 'Operations Analyst',
 'Operations Analyst',
 'AI Engineer',
 'Statistician']

In [22]:
#determine which jobs you are qualified for
qualified_roles = []
for job in job_roles:
    if all(skill in my_skills for skill in job['skills']): #all() function checks if all skills are in my_skills
        qualified_roles.append(job['role'])
        print(qualified_roles) #print qualified roles

['Data Analyst']