Built in functions

In [3]:
skill_list = ['python', 'java', 'c++', 'javascript', 'html', 'css']
len(skill_list)

6

In [4]:
print(skill_list)

['python', 'java', 'c++', 'javascript', 'html', 'css']

In [10]:
count = 0
for skill in skill_list:
    count+= 1

In [12]:
count

6

In [13]:
data_salaries = [9500, 5000, 2000, 63000, 8000]

In [14]:
min(data_salaries)

2000

In [15]:
max(data_salaries)

63000

In [16]:
sum(data_salaries)

87500

In [18]:
sorted(data_salaries)

[2000, 5000, 8000, 9500, 63000]

User-Defined Functions

In [19]:
base_salary = 10000
bonus_rate = 0.1

total_salary = base_salary * (1 + bonus_rate)

total_salary

11000.0

In [37]:
def calculate_salary(base_salary, bonus_rate=.1): #providing arguments(returned value) inside brackets

    total_salary = base_salary * (1 + bonus_rate)
    
    return total_salary   #without this return word if we call a function we wont get anything back

In [ ]:
calculate_salary(15000, 0.2) #we need to provide arguments while calling the function
#arguments provided while calling the function are stronger then the ones in function

18000.0

Lambda functions

In [ ]:
mul_two = lambda x: x*2 #we add an argumen of x

In [29]:
mul_two(3)

6

In [30]:
(lambda x, y: x*2 + y)(2,3)

7

In [39]:
salary_list = [2000, 60000, 85000, 63000, 87999]

#every time we do a lambda function we need to do in inside of ()
total_salary_list = [(lambda x: x* 0.1)(salary) for salary in salary_list]

total_salary_list

[200.0, 6000.0, 8500.0, 6300.0, 8799.9]

In [40]:
jobs_data = [
    {'job_title': 'Data Scientist', 'job_skills': ['Python', 'Machine Learning'], 'remote': True},
    {'job_title': 'Data Analyst', 'job_skills': ['Excel', 'SQL'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'Keras'], 'remote': True},
    {'job_title': 'Software Developer', 'job_skills': ['Java', 'C++'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['R', 'Statistics'], 'remote': False}
]

In [45]:
list(filter(lambda job: job['remote'] and "Python" in job['job_skills'], jobs_data))

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Keras'],
  'remote': True}]