In [3]:
import random

salary_list = [random.randint(50000, 100000) for _ in range(1000000)]

In [7]:
import statistics as st

In [8]:
%%timeit 
st.mean(salary_list)

269 ms ± 3.38 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [9]:
import numpy as np

In [10]:
%%timeit 
np.mean(salary_list)

50.8 ms ± 615 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [13]:
my_array = np.array([1,2,3,4,5])

In [14]:
my_array.mean()

3.0

In [22]:
import numpy as np

# Job titles
job_titles = np.array(['Data Analyst', 'Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'AI Engineer'])

# Base salaries
base_salaries = np.array([60000, 80000, 75000, 90000, np.nan])

# Bonus rates
bonus_rates = np.array([.05, .1, .08, .12, np.nan])

In [23]:
total_salaries = base_salaries * (1 + bonus_rates)

total_salaries

array([ 63000.,  88000.,  81000., 100800.,     nan])

In [25]:
np.nanmean(total_salaries) # we have nan values so we use nanmean method

83200.0